{% extends "base.html" %}

{% block twitter_card %}
      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:site" content="@Semantus"/>
      <meta name="twitter:creator" content="@Semantus" />
      <meta property="og:title" content="Semantus 🎬Clap🎬" />
      <meta property="og:image" content="{{ url_for('clap.static', filename='images/preview.png', _external=True) }}" />
      <meta property="og:description" content="Trouve le film du jour !" />
    
      <link rel="apple-touch-icon" sizes="180x180" sizes="32x32" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
      <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">  
{% endblock %}

{% block card %}
    <div class="text-center card text-white mb-3 bg-clap" id = "presentation-card" >
        <div class="card-header"><h4>Jour {{puzzleNumber}}</h4></div>
            <div class="card-body">
        <p class="card-title">
            On te donne le résumé d'un film avec les mots importants cachés. 
            Propose des mots, les mots proches dans le résumé s'affichent. 
            Le but est de trouver le titre français exact du film !
    
             <br><br>
            
            {% if winners_today == 0 %}
                Tu es le·a <bold>premier·ère</bold> à jouer 
            {% elif winners_today == 1 %}
                <bold>Un seul</bold> joueur·euse a joué 
            {% else %}
                <bold>{{winners_today}}</bold> joueurs·euses ont déjà joué 
            {% endif %}
            aujourd'hui.

            <p class="card-text">Le film d'hier était : 
                <a href="" style="color:rgb(160, 255, 250);" data-bs-toggle="modal" data-bs-target="#popup_clap_history">
                    {{yesterday_title}}
                </a>
            </p>
        </p>
    </div>
{% endblock %}
<style>
    .clap-word {
        border: "3px";
        border-color: "#0000FF";
        border-style: "solid";
        padding: "0.5px";    
    }
</style>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-0">
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row g-3 align-items-left" style="margin-bottom:15px;">
                    <div class="col-8">
                        <input id="title-field" style="display: inline-block;" class="form-control" name="title-field" required type="text" value="" placeholder="Titre français exact">
                    </div>
                    <div class="col-4">
                        <input id="go-title" class="btn btn-primary" type="submit" value="Vérifier">
                    </div>      
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="row g-3" style="margin-bottom:15px;">
                    <div class="col-8">
                        <input id="word-field" style="display: inline-block;" class="form-control" name="ids" required type="text" value="" placeholder="Mot à tester">
                    </div>
                    <div class="col-4">
                        <input id="go" class="btn btn-primary" type="submit" value="Go!">
                    </div>
                </div>
                <div class="row g-3">
                    <p id="movie-overview">{{movie_overview | safe}}</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-0">
            </div>
        </div>
    </div>
    <br>

    <!-- Pop-up Info-->
    {% include '_popup_info.html' %}

    <!-- Pop-up Show Previous Related Words-->
    {% include '_popup_clap_history.html' %}

    <!-- Pop-up Show Related Words After Win-->
    {% include '_popup_list.html' %}

    <!-- Pop-up Show User Stats-->
    {% include '_popup_user_history.html' %}

    <!-- Pop-up for messages (warnings, etc.)-->
    {% include '_popup_message.html' %}

    <!-- Pop-up Win-->
    {% include '_popup_win.html' %}
     
    
    <!-- <script type="text/javascript" src="{{ url_for('clap.static', filename='js/clap.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/rainbowvis.js') }}"></script>
    <script>

// Get the modals to open popups from JS
var modal_win = new bootstrap.Modal(document.getElementById('popup_win'), {
        keyboard: false
})

var modal_user_history = new bootstrap.Modal(document.getElementById('popup_user_history'), {
    keyboard: false
})

var modal_message = new bootstrap.Modal(document.getElementById('popup_msg'), {
    keyboard: false
})

const storage = window.localStorage;
const cold_color = '#9e0000';
const hot_color = '#549415';
const maxScore = {{max_score}};
const btn_submit = document.getElementById('go');
const btn_title = document.getElementById('go-title');
const poster_placeholder = "{{url_for('clap.static', filename='images/poster-placeholder.png') }}";
var secret_title = ''
var secret_overview = ''
var secret_image_url = ''


function clap(puzzleNumber) {
    document.getElementById("presentation-card").classList.add('bg-clap');
    

    let initalized = 0;
    var guesses = {};
    var nb_miss = 0;
    var nb_poop = 0;
    var nb_good = 0;
    var nb_great = 0;
    var nb_guesses = 0;
    var score = 0;

    var rainbow = new Rainbow(); 
    rainbow.setNumberRange(1, maxScore);
    rainbow.setSpectrum(cold_color, hot_color);

    const storagePuzzleNumber = storage.getItem("clap_puzzleNumber");
    if (storagePuzzleNumber != puzzleNumber) {
        storage.removeItem("clap_guesses");
        storage.setItem("clap_puzzleNumber", puzzleNumber);
        saveDataToCache();
    } else {
        guesses = JSON.parse(storage.getItem("clap_guesses"));
        overview = storage.getItem("clap_overview");
        if (overview) 
        {
            document.getElementById("movie-overview").innerHTML = overview;
        }
        nb_miss = storage.getItem("nb_miss");
        if (!nb_miss) {nb_miss = 0; }
        nb_poop = storage.getItem("nb_poop");
        if (!nb_poop) {nb_poop = 0; }
        nb_good = storage.getItem("nb_good");
        if (!nb_good) {nb_good = 0; }
        nb_great = storage.getItem("nb_great");
        if (!nb_great) {nb_great = 0; }
        nb_guesses = storage.getItem("nb_guesses");
        if (!nb_guesses) {nb_guesses = 0; }
        let data_day = JSON.parse(storage.getItem("clap_day_"+puzzleNumber));
        if (data_day && data_day["secret_title"]){
            document.getElementById("word-field").value = '';
            document.getElementById("word-field").disabled = true;
        }
    }

    var field_word = document.getElementById("word-field");
    field_word.addEventListener("keyup", function(event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        btn_submit.click();  
        }
    });

    var field_title = document.getElementById("title-field");
    btn_title.addEventListener('click', function(){
        var title = field_title.value;
        $.getJSON(
            'check_title',
            $.param({ title: title.trim().toLowerCase()}, true),
            function(result){
                if(result.win) {
                    secret_image_url = result.image_url;
                    secret_title = result.title;
                    secret_overview = result.overview;
                    win(title);
                } else {
                    nb_miss += 1;
                    no_win(title);
                }
            });
    });

    var btn_share = document.getElementById('button-share')
    btn_share.addEventListener('click', function(){
        share();
    });

    btn_submit.addEventListener('click', function(){
        let word = field_word.value.trim().toLowerCase();
        if (word) {
            $.getJSON(
            'check_word',
            $.param({ word: word}, true),
            function(result){
                nb_guesses+=1;
                if (!result.words){
                    nb_poop+=1;
                    saveDataToCache();
                    return
                }
                switch (result.evaluation) {
                    case 'good':
                        nb_good+=1;
                        break;
                    case 'great': 
                        nb_great+=1;
                        break;
                    }
                removeFrames();
                result.words.forEach(function(entry) {
                    let [id, value, score] = entry;
                    if (!(id in guesses) || guesses[`${id}`][1] < score) {
                        guesses[`${id}`] = [word, score];
                        word_span = document.getElementById(`${id}`);
                        word_span.innerHTML = word;
                        word_span.style.border = "2px";
                            word_span.style.borderColor = "#FFFFFF";
                            word_span.style.borderStyle = "solid";
                            word_span.style.padding = "0.5px";
                        if (score == maxScore)
                        {
                            word_span.style.backgroundColor = '';
                            word_span.style.color = hot_color;
                            word_span.style.fontWeight = "bold"
                        } else {
                            word_span.style.backgroundColor = `#${rainbow.colourAt(score)}`;      
                        }
                    }
                });
                saveDataToCache();
            });
            field_word.value = "";
        }
    });

    
    focus();


    function removeFrames() {
        var elements = document.querySelectorAll('span.clap-word')
        elements.forEach(function(entry) {
            entry.style.border = '0px';
        });
    }
       

    function saveDataToCache(secret_title = null) {
        let savedPuzzleNumber = storage.getItem("clap_puzzleNumber");
        if (savedPuzzleNumber != puzzleNumber) {
            return;
        }
        storage.setItem("clap_guesses", JSON.stringify(guesses));
        overview = document.getElementById("movie-overview").innerHTML;
        storage.setItem("clap_overview", overview);

        let data_day = JSON.parse(storage.getItem("clap_day_"+puzzleNumber));
        if (data_day == null){
            data_day = {};
        }
        data_day['nb_miss'] = nb_miss;
        data_day['nb_guesses'] = nb_guesses;
        data_day['nb_poop'] = nb_poop;
        data_day['nb_good'] = nb_good;
        data_day['nb_great'] = nb_great;
        if(secret_title) { data_day['secret_title'] = secret_title;}
        storage.setItem("clap_day_"+puzzleNumber, JSON.stringify(data_day));
        
    }

    async function share() {
        let message = "";
        message = `J'ai trouvé le tire du film caché à #semantus 🎬Clap🎬 (jour ${puzzleNumber}).<br>`
        message += `Mon score est de ${score} points !<br>`
        message += `J'ai utilisé ${nb_guesses} mots (${nb_poop}💩, ${nb_good}👍🏽 et ${nb_great}🤯)`
        message += ` et fait ${nb_miss+1} tentatives de titres.<br>`
        message += "https://www.semantus.fr/clap";

        try {
            await navigator.clipboard.writeText(message.replace(/<br>/g,'\n'));
            message += "<br><br>Copié dans le presse-papiers";
        } catch (err) {
            message += `<br><br>Erreur en copiant dans le presse-papiers<br>${err}`;
        }
        document.getElementById('popup-header-msg').innerHTML = 'Partage ton exploit !';
        document.getElementById('popup-msg').innerHTML = message;

        modal_win.hide();
        modal_message.show();
    }

    function win(title)
    {
        saveDataToCache(title)
        
        // send data to server
        $.getJSON(
            'win',
            $.param(
                {title: secret_title.trim().toLowerCase(), 
                 nb_guesses: nb_guesses, 
                 nb_title_guesses: nb_miss+1, 
                 user_id: get_user_id()}, true),
            function(result){
                if (result) {
                    if (result.overview)
                    {
                        document.getElementById("movie-overview").innerHTML = `<h5>${result.title}</h5><br>`;
                        document.getElementById("movie-overview").innerHTML += result.overview
                    
                        score = result.score;
                        let message = "";
                        // // check if you have already won
                        document.getElementById('popup-win-title').innerHTML = '<h4 class="modal-title d-inline-block">👏Clap Clap Clap !👏</h4>';
                        message += `<h5>Félicitation, tu as trouvé le titre du film !</h5>`;
                        message += `Tu as utilisé ${nb_guesses} mots (${nb_poop}💩, ${nb_good}👍🏽 et ${nb_great}🤯)`
                        message += ` et fait ${nb_miss+1} tentatives de titres.<br>`
                        message += `Cela te fait un score de <strong>${score}</strong> points.<br>`
                    
                        document.getElementById("popup-win-msg").innerHTML = message;
                        if (secret_image_url) {
                            imgPath = secret_image_url;
                        } else 
                        {
                            imgPath = poster_placeholder;
                        }
                        document.getElementById("div-block-hist").innerHTML = `<img src=${imgPath} width="250"> </img>`;
                        document.getElementById("div-block-hist").style.textAlign = "center";
                        document.getElementById("div-popup-win-share").classList.remove("invisible");
                        modal_win.show();
                        document.getElementById("word-field").value = '';
                        document.getElementById("word-field").disabled = true;
                    }
                }
            });
    }


    function no_win(title)
    {
        saveDataToCache()
        let message = "";
        nb_miss += 1;
        // // check if you have already won
        document.getElementById('popup-win-title').innerHTML = '<h4 class="modal-title d-inline-block">Nope !</h4>';
        message += `<h5>Le titre du film n'est pas <strong>${title}</strong>.</h5>`;
        message += "Tu dois donner le titre français exact (les majuscules ne sont pas importantes)"
       
        document.getElementById("popup-win-msg").innerHTML = message;
        document.getElementById("div-block-hist").innerHTML = '';
        document.getElementById("div-popup-win-share").classList.add("invisible");
        modal_win.show();
        // send data to server
    //     $.getJSON(
    //         '/link/win',
    //         $.param({guess_1: guess_1, guess_2: guess_2, score: total_points, user_id: get_user_id()}, true),
    //         function(result){});
    }
}
    function isEmpty(object) {
    for (const property in object) {
        return false;
    }
    return true;
    }

    function scrollToField()
    {
        // the next line is required to work around a bug in WebKit (Chrome / Safari)
        location.href = "#word-field";
        location.href = "#word-field";
    }

    function reload() {
        document.getElementById('popup-header-msg').innerHTML = "Nouveau jour !"
        message = "Temps écoulé, aujourd'hui est un nouveau jour !<br>";
        message += "Rechargement de la page en cours."
        document.getElementById('popup-msg').innerHTML = message;
        modal_message.show();
        setInterval(function() { window.location.reload(); }, 2000);
    }

    function checkDay() {
        const storagePuzzleNumber = storage.getItem("link_puzzleNumber");
        if (storagePuzzleNumber && storagePuzzleNumber != puzzleNumber) { reload(); }
    }

    function sleep(milliseconds) {  
      return new Promise(resolve => setTimeout(resolve, milliseconds));  
    }  

    

    

    

    function unlockHistory() {
        var btn_list = document.getElementById('full-list');
        
        btn_list.classList.remove('invisible');         
        btn_list.addEventListener('click', function(){
            modal_word_list.show();
            document.getElementById("modal-list-title").innerHTML = '<h5 class="modal-title">Combinaisons gagnantes trouvées</h5>';
            var table_content = '';
            
            guesses.forEach(function([guess_1, guess_2, link_1, link_2, link_3, score]) {
                table_content+=
                `
                                <tr>
                                    <td class="text-white">${guess_1+' + '+guess_2}</td>
                                    <td class="text-white">${score}</td>
                                </tr>
                `
                
                }
            )
            document.getElementById("modal-list-table-content").innerHTML = table_content;            
        });
    }

    /**
     * from https://andywalpole.me/blog/140739/using-javascript-create-guid-from-users-browser-information
     * @function _guid
     * @description Creates GUID for user based on several different browser variables
     * It will never be RFC4122 compliant but it is robust
     * @returns {Number}
     * @private
     */
    // I DO NOT STORE THIS, I HASH IT AND STORE THAT
    function get_user_id() {
        var nav = window.navigator;
        var screen = window.screen;
        var guid = nav.mimeTypes.length;
        guid += nav.userAgent.replace(/\D+/g, '');
        guid += nav.plugins.length;
        guid += screen.height || '';
        guid += screen.width || '';
        guid += screen.pixelDepth || '';

        return guid;
    };

    function get_text_winner(nb_winners) {
        if (nb_winners == 1)
        {
            return `${nb_winners}<sup>er·e</sup>`
        } else {
            return `${nb_winners}<sup>ème</sup>`
        }
    }
    
    
    function isMobileDevice()
    {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            return true;
        } else {
            return false;
        }
    }   

    function focus()
    {
        document.getElementById("word-field").focus();
    }

    function countPoops()
    {
        let nb_poop = 0;
        let nb_no_poop = 0;
        guesses.forEach(function (entry, index, arr) {
            let [word, number, score] = entry;
            if (score == 0)
            {
                nb_poop+=1;
            } else {
                nb_no_poop += 1;
            }
        });
        return [nb_poop, nb_no_poop];
    }

    
    


    function beta() {   
        message = 'Bienvenue à Semantus <i class="italic text-clap">Clap</i> !';
        message += "<br><br>Ce jeu est en cours de développement, il est donc possible qu'il y reste des bugs.";
        message += "<br>N'hésitez pas à nous contacter si vous avez des questions ou des suggestions :";
        message += ' <a  href="https://twitter.com/intent/tweet?screen_name=semantusFr&ref_src=twsrc%5Etfw">@SemantuFr</a>';
        document.getElementById('popup-header-msg').innerHTML = "Jeu en version bêta !";
        document.getElementById('popup-msg').innerHTML = message;
        document.getElementById('btn-close-msg').focus();
        modal_message.show();
    }
    


    </script>
    <script type="text/javascript">
        clap({{puzzleNumber}});
    </script>


    
{% endblock %}