<strong>Principe</strong><br>
Chaque jour, découvre un film. 
On te donne le résumé, mais tous mots important sont cachés. 
Teste des mots, si dans le résumé il existe des mots proches, ils sont remplacés par 
le mot que tu as entré. 
La couleur du fond t'indique la proximité entre les mots, rouge si c'est éloigné 
et vers si c'est très proche. 
Si tu as trouvé exactement un mot, il apparait en gras de couleur verte (sans fond coloré). 
Sont encadrés en blanc les mots concerné par le dernier mot rentré. 
Pour chaque mot tapé apparait un récapitulatif : 
💩 si le mot n'y est pas ou qu'il ne fait pas mieux que les mots précédemment tapés, 
👍🏽 par nombre de fois ou le mot apparait sans être le mot exact et 
🤯 par occurence exacte du mot. 
⏳ signifie que le mot à déjà été tenté. 
(Attention, un même mot peut être compté 💩 ou 👍🏽 suivant l'ordre dans lequel il a été joué, si il
est proche d'un mot mais que des mots plus proches on déjà été joués, il compte pour 💩.)
<br>
Lorsque tu penses avoir le bon titre, rentre le titre français exacte dans le champ correspondant.<br><br>

<strong>Score</strong><br>
Tu commences à 1000 points. 
Chaque mot rentré te retire 2 points et 
chaque tentative de titre te coute 10 points.
<br><br>