<strong>Liste de mots</strong><br>
Chaque jour, un mot est choisi, et on trouve la liste des 1000 mots les plus proches 
dans le modèle. 
On vous donne pour commencer le mot le plus éloigné de cette liste 
et vous devez proposer des mots en espérant vous approcher du mot caché. 
Le cheminement n'est pas forcént linéaire et peut même sembler illogique, 
mais c'est la base de donnée d'entrainement utilisée qui présente des rapprochement 
entre les différents mots qui guide la classement.<br><br>

<strong>Comment ça marche ?</strong><br> 
Tape ton mot et clique sur le bouton. Il y a alors quatre possibilités :
<ul >
    <li>
        <strong>Le mot est le mot caché. Félicitation&nbsp;!</strong>
        L'emoji 🤯 apparait. 
        Tu peux désormais partager ton score et narguer tes collègues.
    </li>
    <li>
        <strong>Le mot est dans le top 1000. Cool&nbsp;!</strong>
        Le pourcentage (plus c'est proche de 100, plus vous êtes proche) 
        le mot est ajouté avec son score (de 1 à 1000) à la liste.
    </li>
    <li>
        <strong>Le mot existe mais n'est pas dans le top 1000.</strong>
        L'emoji 💩 s'affiche. 
        Il est ajouté à la liste avec 💩, ce qui correspond à un score de 0. 
    </li>
    <li>
        <strong>Le mot n'existe pas ou ne correspond pas aux critères.</strong>
        L'emoji 🤔 s'affiche. Le mot n'est pas rajouté à la liste.
    </li>
    
    </ul><br>

    <strong>Critères</strong><br>
    Les noms et adjectifs sont uniquement au singulier masculin et les verbes à l'infinitif.<br><br>

    <strong>Indices</strong><br>
    Toutes les 5 tentatives (nouveaux mots uniquement), tu as le droit à un nouvel indice. 
    Le mot sera à la position juste au dessus de ton meilleur mot. 
    Donc si ton meilleurs mot est à la position 498, 
    tu recevras le mot 499.<br><br>

    <strong>Score</strong><br>
    Lorsque tu trouves le mot, on calcule ton score en fonction du nombre de tentatives et
    du nombre d'indices que tu as reçu. 
    Tu pars à 1000 points et tu pers 2 points par tentative (sauf la première qui est gratuite) 
    et 10 points par indice (sauf l'indice de départ qui est gratuit aussi).