<strong>Inspirations</strong><br>
Ces jeux sont très largement inspirés de <a href="https://cemantix.herokuapp.com/" target="_blank">Cémantix</a> 
par <a href="https://twitter.com/enigmathix" target="_blank">enigmatix</a>, 
qui lui même est inspiré de
<a href="https://semantle.novalis.org/" target="_blank">Semantle</a> (en langue anglaise)
par <a href="https://gitlab.com/novalis_dt/semantle" target="_blank">David Turner</a>. 
Comme Cémantix, il utilise les données générées par 
<a href="https://fauconnier.github.io/#data" target="_blank">Jean-Philippe Fauconnier</a>.<br><br>
<strong>Mais alors, pourquoi faire un autre jeu ?</strong><br>
L'idée est d'avoir un jeu rapide et surtout de ne pas être bloqué 
lorsque l'on tombe dans un champ sémantique qui, 
par le hasard des bases de données, 
se retrouve assez éloigné du mot caché. 
L'utilisation d'indices est censé palier à cela, mais je suis ouvert 
à toute idée ou critique sur ce sujet.<br><br>

<strong>Open source ?</strong><br>
Oui !
<a href="https://github.com/SemantusFr/semantus" target="_blank">Github:SmantusFr/semantus</a>.<br><br>

<strong>Sources extérieures :</strong><br>
Code :<br>
<ul>
    <li><strong>Flask</strong> : <a href="https://flask.palletsprojects.com/">flask.palletsprojects.com</a></li>
    <li><strong>Rainbow-vis.js</strong> : <a href="https://github.com/anomal/RainbowVis-JS">github.com/anomal/RainbowVis-JS</a></li>
    <li><strong>Progressbar.js</strong> : <a href="https://kimmobrunfeldt.github.io/progressbar.js/">kimmobrunfeldt.github.io/progressbar.js</a></li>
    <li><strong>Bootstrap</strong> : <a href="https://getbootstrap.com">getbootstrap.com</a></li>
    </ul>
Données :<br>
<ul>
    <li><strong>Modèle de vectorisation de mots</strong> : <a href="https://fauconnier.github.io/#data">fauconnier.github.io</a></li>
    <li><strong>Liste de mots français avec fréquences et lemmes</strong> : <a href="http://www.lexique.org/shiny/openlexicon/">lexique.org/shiny/openlexicon</a></li>
    <li><strong>Base de donnée de films</strong> : <a href="https://www.themoviedb.org/">themoviedb.org</a></li>
</ul> 
Autre :
<ul>
    <li><strong>Icones</strong> : <a href="https://mfglabs.github.io/mfglabs-iconset/">mfglabs.github.io/mfglabs-iconset</a></li>
</ul>    