<strong>Le mot du jour</strong><br>
Chaque jour, un mot est choisi, et on trouve encore une fois la liste des 1000 mots 
les plus proches dans le modèle. 
Mais cette fois il n'est pas caché, au contraire, on te le donne !
Clique sur <span class="italic">C'est partie !</span> et tu as 2 minutes pour trouver 
le plus possibles de mot dans la liste des 1000. 
Quant tu en trouves un, il est révélé, et son score (entre 1 et 999) 
est ajouté à ton total de points. 
Fais le plus grand score, mais attention, tu n'as qu'un seul essai par jour !
<br><br>