<strong>Distance entre les mots</strong> <br>
Dans la discipline du <i>NLP</i> (natural language programming en anglais, 
ou traitement du langage naturel), 
sous discipline du machine learning qui traite du langage, 
il est pratique de représenter les mots par des <i>vecteurs</i> de grande dimension. 
Ces vecteurs ne représentent pas grand chose, mais la distance entre ces vecteurs 
renseigne sur la proximité entre les mots. 
On entraine alors un algorithme de deep learning sur une très grande base de donnée, 
constituée d'une collection de textes d'un même langage (merci internet). 
Le modèle ainsi entrainé permet d'associer un vecteur à un mot. 
Des mots qui apparaissent souvent proches l'un de l'autre dans un texte vont être 
représentés par des vecteurs ayant une distance proche. 
Cela ne veux pas dire pour autant que les mots ont un sense proche ni même 
qu'ils font parti du même champ lexical !<br><br>