<strong>Principe</strong><br>
Chaque jour, une paire de mot est choisie au hasard. 
Ils constuent le premier et le dernier maillons d'une chaine de quatre mots. 
Les deux maillons du centre manquent, à toi de trouver les mots qui donnent 
la chaine qui vaut le plus de points !<br><br>

<strong>Score</strong><br>
Entre chaque paire de mots se trouve une barre de progression 
qui va de 0 à 300. 
Si le second mot est proche du premier, cette barre va se remplir et 
le score corrspondant va s'afficher à côté. 
Si le mot n'est pas reconnu, l'emoji 🤔 va apparaitre à la place 
du score du lien. 
Si le mot n'est pas dans le top 300 du premier mot, 💩 va s'afficher.
Il en va de même entre le troisième mot et le quatrième mot. 
Si ces deux liens donnent des scores non nuls, alors le dernier lien 
entre les deuxième et troisième mots est estimé. 
Sinon, le symbole ❌ apparaît. 
Si les trois lien sont bons, bravo, tu as trouvé une chaine complète. 
Cependant, il existe souvent un grand nombre de combinaisons possibles, 
si tu n'as pas trouvé la meilleure, tu peux continuer à jouer !
<br><br>