<div id="popup_info" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <p> <h4>Information</h4> </p>
                    </div>
            <div class="modal-body">
            
                <div class="accordion" id="accordion-info">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button bg-secondary text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            C'est quoi l'idée ?
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-info">
                        <div class="accordion-body bg-dark text-white">
                            <strong>Distance entre les mots</strong> <br>
                            Dans la discipline du <i>NLP</i> (natural language programming en anglais, 
                            ou traitement du langage naturel), 
                            sous discipline du machine learning qui traite du langage, 
                            il est pratique de représenter les mots par des <i>vecteurs</i> de grande dimension. 
                            Ces vecteurs ne représentent pas grand chose, mais la distance entre ces vecteurs 
                            renseigne sur la proximités entre les mots. 
                            On alors entraine un algorithme de deep learning sur une très grande base de donnée, 
                            constitués d'une collection de texte d'un même langage (merci internet). 
                            Le modèle ainsi entrainé permet d'associer à un mot un vecteur. 
                            Des mots qui apparaissent souvent proches l'un de l'autre dans un texte vont être 
                            représentés par des vecteurs ayant une distance proches. 
                            Cela ne veux pas dire pour autant que les mots ont un sense proche ni mêmes 
                            qu'ils font parti du même champ lexical !<br><br>
                            <strong>Liste de mots</strong><br>
                            Chaque jour, un mot est choisi, et on trouve la liste des 1000 mots les plus proches 
                            dans le modèle. 
                            On vous donne pour commencer le mot le plus éloigné de cette liste 
                            et vous devez proposer des mots en espérant vous approcher du mot caché. 
                            Le cheminement n'est pas forcént linéaire et peut même semblé illogique, 
                            mais c'est la base de donnée d'entrainement utilisée qui présente des rapprochement 
                            entre les différents mots qui guide la classement.
                            

                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Comment ça marche ?
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-info">
                    <div class="accordion-body bg-dark text-white">
                        <strong>Taper votre mot et cliquez sur le bouton.</strong> 
                        Il y a alors quatre possibilités :
                        <ul >
                            <li>
                                <strong>Le mot est dans mot caché. Félicitation&nbsp;!</strong>
                                L'emoji 🤯 apparait. 
                                Vous pouvez désormais partager votre score et narguer vos collègues.
                            </li>
                            <li>
                                <strong>Le mot est dans le top 1000. Cool&nbsp;!</strong>
                                Le pourcentage (plus c'est proche de 1000, plus vous êtes proche) 
                                le mot est ajouté avec son score (de 1 à 1000) à la liste.
                            </li>
                            <li>
                                <strong>Le mot existe mais n'est pas dans le top 1000.</strong>
                                L'emoji 💩 s'affiche. 
                                Il est ajouté à la liste avec 💩, ce qui correspond à un score de 0. 
                            </li>
                            <li>
                                <strong>Le mot n'existe pas ou ne correspond pas aux critères.</strong>
                                L'emoji 🤔 s'affiche. Le mot n'est pas rajouté à la liste.
                            </li>
                            
                            </ul><br>

                            <strong>Indices</strong><br>
                            Toutes les 5 tentatives (nouveaux mots uniquement), tu as le droit à un nouvel indice. 
                            Le mot sera à la position juste au dessus de ton meilleur mot. 
                            Donc si ton meilleurs mot est à la position 498, 
                            tu recevras le mot 499.<br><br>

                            <strong>Score</strong><br>
                            Lorsque tu trouves le mot, on calcule ton score en fonction du nombre de tentatives et
                            du nombre d'indices que tu as reçu. 
                            Tu pars à 1000 points et tu pers un point par tentative (sauf la première qui est gratuite) 
                            et 5 points par indice (sauf l'indice de départ qui est gratuit aussi).
                    </div>
                    </div>
                </div>    
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button bg-secondary text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Crédits
                    </button>
                    </h2>
                    <div class="accordion-body bg-dark text-white">
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-info">
                            Ce jeu est très largement inspiré de <a href="https://cemantix.herokuapp.com/">Cémantix</a> 
                            par <a href="https://twitter.com/enigmathix">enigmatix</a>, 
                            qui lui même est inspiré de
                            <a href="https://semantle.novalis.org/">Semantle</a> (en langue anglaise)
                            par <a href="https://gitlab.com/novalis_dt/semantle">David Turner</a>. 
                            Comme Cémantix, il utilise les données générées par 
                            <a href="https://fauconnier.github.io/#data">Jean-Philippe Fauconnier</a>.<br><br>
                            <strong>Mais alors, pourquoi faire un autre jeu ?</strong><br>
                            L'idée est d'avoir un jeu rapide et surtout de ne pas être bloqué 
                            lorsque l'on tombe dans un champ sémantique qui, 
                            par le hasard des bases de données, 
                            se retrouve assez éloigné du mot caché. 
                            L'utilisation d'indices est censé palier à cela, mais je suis ouvert 
                            à toute idée ou critique sur ce sujet.
                            
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
        </button>
    </div>
    </div>
</div>