<div id="popup_win" class="modal">
    <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <p> <h4>Gagné !</h4> </p>
                        </div>
                <div class="modal-body">
                    <p id="winners-msg">
                    </p>
                </div>
                
                <div class="modal-body">
                    <bold>Par rapport aux autres gagnants :</bold>
                    <img src="/get_stat_hist.png" class="rounded mx-auto d-block" height="300px">
                </div>
                
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>