<div id="popup_msg" class="modal">
    <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <p> <h4 id="popup-header-msg"></h4> </p>
                        </div>
                <div class="modal-body">
                    <p id="popup-msg">
                    </p>
                </div> 
                <div class="modal-footer">
                <button id="btn-close-msg" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>