<div id="popup_win" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4>Gagné !</h4>
            </div>
            <div class="modal-body">
                    <p id="winners-msg">
                        MESSAGE GAGNANT
                    </p>
                    <br>
                    <bold>Par rapport aux autres gagnants :</bold><br>
                    <img src="/get_stat_hist.png" id="hist-winners-user" class="rounded mx-auto d-block" height="300px">
                    <br><br>
                <div class="text-center">
                    <button type="button" class="btn btn-secondary" id="button-share">Partage le !</button>
                    
                </div>    
                
            </div>

        
            <div class="modal-footer">
                
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>