<div id="popup_clap_history" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Film d'hier : <strong>{{yesterday_title}}</strong>.</h5>
            </div>
            <div class="modal-body" style="text-align:center">
                <strong">Trouvé par {{winners_yesterday}} personnes. </strong><br><br>
                <div style ="text-align:justify;text-justify: inter-word;">
                    {{yesterday_overview}}
                </div>
                <div class="text-center">
                    <img src="{{yesterday_image_url or url_for('clap.static', filename='images/poster-placeholder.png') }}" width="250"> </img>
                </div>
                
                
            </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>