{% extends "classic.html" %}

{% block jumbotron %}
<div class="text-center card text-white bg-success mb-3" id = "presentation-card" >
    <div class="card-body">
    <p class="card-title">
        Commence avec le 1000<sup>ème</sup> mot le plus proche et fais ton chemin jusqu'au mot caché.<br>
    </p>
    <p class="card-text">Le mot d'hier était  
        <a href="" style="color:rgb(160, 255, 250);" data-bs-toggle="modal" data-bs-target="#popup_history">
            <b>{{yesterday_word}}</b>
        </a>
    </p>
</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}