{% extends "base.html" %}

{% block twitter_card %}
      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:site" content="@Semantus"/>
      <meta name="twitter:creator" content="@Semantus" />
      <meta property="og:title" content="Semantus ⚡Flash⚡" />
      <meta property="og:image" content="{{ url_for('static', filename='images/preview.png', _external=True) }}" />
      <meta property="og:description" content="Trouve le plus de mots !" />
    
      <link rel="apple-touch-icon" sizes="180x180" sizes="32x32" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
      <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    
{% endblock %}

{% block card %}
    <div class="text-center card text-white mb-3 bg-flash" id = "presentation-card" >
        <div class="card-header"><h4>Jour {{puzzleNumber}}</h4></div>
            <div class="card-body">
        <p class="card-title">
            On te donne le premier et le dernier mot d'une séquence de 4 mots.
            Trouve les deux mots manquants de manière à avoir un lien fort entre chaque paire 
            de mots voisin. 
            Il y a plusieurs solutions ! Trouve le lien le plus fort !
    
             <br><br>
            
            {% if winners_today == 0 %}
                Tu es le·a <bold>premier·ère</bold> à jouer 
            {% elif winners_today == 1 %}
                <bold>Un seul</bold> joueur·euse a joué 
            {% else %}
                <bold>{{winners_today}}</bold> joueurs·euses ont déjà joué 
            {% endif %}
            aujourd'hui.
        </p>
    </div>
{% endblock %}

{% block content %}
  


    

    <div class="container">


        <div class="row">
            <div class="col-md-2 col-sm-0">
            </div>
            <div class="col-md-3 col-sm-12">
                
                <div class="row g-3 align-items-center">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <input id="go" class="btn btn-primary w-100" type="submit" value="Go!">
                    </div>   
                    <div class="col-3"></div>   
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-5 col-md-12">
                        <div id='circle-container' style="height: 150px;">
                            <div class="progress center" id="progress" style="height: 100%;" ></div>
                        </div>
                    </div>
                    <div class="col-6 col-md-12 text-center">
                        <h5 id="score-message"></h5>
                        <input id="full-list" class="btn btn-primary invisible" type="submit" value="Historique">
                    </div>
                    <div class="col-1 col-md-0">
                    </div>
                </div>


                
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row g-3">
                    <input id="word-top" class="form-control fixed-word" type="text" value="Top" disabled="true">
                </div>
                <div class="row">
                    <div class="col-10">
                        <div class="progress center" id="progress-link-1" style="height: 15px; margin-bottom: 10px;" ></div>
                    </div>
                    <div class="col-2">
                        <div id="value-link-1" style="height: 15px; margin-top: 5px;">0</div>
                    </div>
                </div>
                <div class="row g-3">
                    <input id="guess-1" class="form-control" required type="text" value="">
                </div>
                <div class="row">
                    <div class="col-10">
                        <div class="progress center" id="progress-link-2" style="height: 15px; margin-bottom: 10px;" ></div>
                    </div>
                    <div class="col-2">
                        <div id="value-link-2" style="height: 15px; margin-top: 5px;">0</div>
                    </div>
                </div>
                <div class="row g-3">
                    <input id="guess-2" class="form-control" required type="text" value="">
                </div>
                <div class="row">
                    <div class="col-10">
                        <div class="progress center" id="progress-link-3" style="height: 15px; margin-bottom: 10px;" ></div>
                    </div>
                    <div class="col-2">
                        <div id="value-link-3" style="height: 15px; margin-top: 5px;">0</div>
                    </div>
                </div>
                <div class="row g-3">
                    <input id="word-bottom" class="form-control fixed-word" type="text" value="Bottom" disabled="true">
                </div>
            </div>
            <div class="col-md-4 col-sm-0">
            </div>
        </div>
    </div>
    <br>

    <!-- Pop-up Info-->
    {% include '_popup_info.html' %}

    <!-- Pop-up Show Previous Related Words-->
    {% include '_popup_history.html' %}

    <!-- Pop-up Show Related Words After Win-->
    {% include '_popup_list.html' %}

    <!-- Pop-up Show User Stats-->
    {% include '_popup_user_history.html' %}

    <!-- Pop-up for messages (warnings, etc.)-->
    {% include '_popup_message.html' %}

    <!-- Pop-up Win-->
    {% include '_popup_win.html' %}
       
    <script>

    // document.getElementById("presentation-card").classList.remove('bg-sucess');
    document.getElementById("presentation-card").classList.add('bg-link');

    let initalized = 0;
    const storage = window.localStorage;
    const cold_color = '#ee0000';
    const hot_color = '#7ddc1f';
    const cls_newguess = "table-danger";
    const cls_guess = "table-info";
    const cls_hint = "hint";
    const puzzleNumber = {{puzzleNumber}};
    const fontSizeTextLargeScreen = '2.3rem';
    const fontSizeEmojiLargeScreen = '3.5rem';
    const fontSizeTextSmallScreen = '2.0rem';
    const fontSizeEmojiSmallScreen = '3.0rem';
    const circleSizeLargeScreen = '150px';
    const circleSizeSmallScreen = '125px';
    const maxLink = {{maxLink}};
    const maxScore = 3*maxLink;
    

    var fontSizeText = fontSizeTextLargeScreen;
    var fontSizeEmoji = fontSizeEmojiLargeScreen;
    var circleSize = circleSizeLargeScreen;
    var emoji = null;
    var today_word = null;
    var total_points = 0;
    var is_game_started = false;
    var already_won = false;
    var word_top = "";
    var word_bottom = "";
    var bestLinkScore = 0;
    

    $.getJSON(
            '/link/get_best_score',
            $.param({}, true),
            function(result){
                console.log(result);
                bestLinkScore = parseInt(result.best_score);
            });

    if (isMobileDevice()) {
        fontSizeText = fontSizeTextSmallScreen;
        fontSizeEmoji = fontSizeEmojiSmallScreen;
        circleSize = circleSizeSmallScreen;
    }

    document.getElementById("circle-container").style = `height: ${circleSize};`;

    function scrollToField()
    {
        // the next line is required to work around a bug in WebKit (Chrome / Safari)
        location.href = "#guess-1";
        location.href = "#guess-1";
    }

    function reload() {
        document.getElementById('popup-header-msg').innerHTML = "Nouveau jour !"
        message = "Temps écoulé, aujourd'hui est un nouveau jour !<br>";
        message += "Rechargement de la page en cours."
        document.getElementById('popup-msg').innerHTML = message;
        modal_message.show();
        setInterval(function() { window.location.reload(); }, 2000);
    }

    function checkDay() {
        const storagePuzzleNumber = storage.getItem("link_puzzleNumber");
        if (storagePuzzleNumber && storagePuzzleNumber != puzzleNumber) { reload(); }
    }

    const storagePuzzleNumber = storage.getItem("link_puzzleNumber");
    if (storagePuzzleNumber != puzzleNumber) {
        storage.removeItem("link_guesses");
        storage.setItem("link_puzzleNumber", puzzleNumber);
        guesses = [];
    } else {
        guesses = JSON.parse(storage.getItem("link_guesses"));
        if (guesses == null){
            guesses = [];
        }
    }

    

    // Get the modals to open popups from JS
    var modal_win = new bootstrap.Modal(document.getElementById('popup_win'), {
        keyboard: false
    })

    var modal_user_history = new bootstrap.Modal(document.getElementById('popup_user_history'), {
        keyboard: false
    })

    var modal_word_list = new bootstrap.Modal(document.getElementById('popup_list'), {
        keyboard: false
    })
    document.getElementById("list-words-column-name").innerHTML = "Combinaison(s)";

    var modal_message = new bootstrap.Modal(document.getElementById('popup_msg'), {
        keyboard: false
        })

    function sleep(milliseconds) {  
      return new Promise(resolve => setTimeout(resolve, milliseconds));  
    }  

    // Fill information for the user stat popup
    var userHistoryLink = document.getElementById("link-user-history");
    userHistoryLink.onclick = function() {
        data_stats = getStatsFromStorage();
        document.getElementById("user-history-table-content").innerHTML = '' 
        function add_row(name, value) {
            document.getElementById("user-history-table-content").innerHTML += 
            `<tr class="table-dark table-striped">
                <td class="text-white">${name}</td>
                <td class="text-white">${value}</td>
            </tr>`
        }        
        $.getJSON(
            '/get_date_from_puzzle_number',
            $.param({ number: data_stats.first_game}, true),
            function(result){
                add_row('Première partie :', result.date);
                add_row('Parties jouées :', data_stats.nb_games);
                add_row('Nombre moyen de mots trouvés :', (data_stats.nb_mean_guesses).toFixed(1));
                add_row('Nombre de moyen de 👍🏽 :', (data_stats.nb_mean_no_poop).toFixed(1));
                add_row('Nombre de moyen de 💩 :', (data_stats.nb_mean_poop).toFixed(1));
            });
        modal_user_history.show();
    }

    

    // var guessNumber = guesses.length;  
    // total_points = get_stored_score();
    // if (total_points == null) {
    //     already_won = false;
    //     total_points = 0;
    // } else {
    //     unlockHistory();
    //     already_won = true;
    //     // send data to server, the previous results may not have been stored if the player 
    //     // reloaded before the end.
    //     // The server will not save the results anyway if the same player updated multiple time the score.
    //     $.getJSON(
    //         '/link/win',
    //         $.param({ score: total_points, guesses: guesses.length, user_id: get_user_id()}, true),
    //         function(result){});
    // }
    // // document.getElementById("score_message").innerHTML = `${total_points} points`

    function getLinearProgressBar(id) {
        var bar = new ProgressBar.Line(`#progress-link-${id}`, {
        strokeWidth: 10,
        easing: 'easeInOut',
        duration: 800,
        color: '#FFEA82',
        trailColor: '#999',
        trailWidth: 10,
        svgStyle: {width: '100%', height: '100%'},
        from: {color: cold_color},
        to: {color: hot_color},
        step: (state, bar) => {
            bar.path.setAttribute('stroke', state.color);
        }
        });
        return bar
    }
    progress_link_1 = getLinearProgressBar(1)
    progress_link_2 = getLinearProgressBar(2)
    progress_link_3 = getLinearProgressBar(3)

    var field_guess_1 = document.getElementById("guess-1");
    var field_guess_2 = document.getElementById("guess-2");
    

    bar = new ProgressBar.Circle(progress, {
        strokeWidth: 10,
        trailWidth: 2,
        easing: 'easeInOut',
        duration: 1500,
        text: {
            autoStyleContainer: true
        },
        from: { color: cold_color, width: 10 },
        to: { color: hot_color, width: 10 },
        // Set default step function for all animate calls
        step: function(state, circle) {
            circle.path.setAttribute('stroke', state.color);
            circle.path.setAttribute('stroke-width', state.width);
            var value = circle.value();
            var score = Math.ceil(value*bestLinkScore);
            if (emoji) {
                circle.setText(emoji);
            } else {
                circle.setText(score);
            }
            circle.text.style.color = state.color;
        }
        });
        bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar.text.style.fontSize = fontSizeText;

    // get THE word
    $.getJSON(
        'link/get_words',
        {},
        function(result){
            word_top = result.words[0];
            word_bottom = result.words[1];
            document.getElementById('word-top').value = word_top;
            document.getElementById('word-bottom').value = word_bottom;
        });

    
        
    field_guess_1.addEventListener("keyup", function(event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("go").click();  
        }
    });

    field_guess_2.addEventListener("keyup", function(event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("go").click();  
        }
    });

    var btn_submit = document.getElementById('go');
    btn_submit.addEventListener('click', function(){
        progress_link_1.animate(0.5);
        progress_link_2.animate(0.5);
        progress_link_3.animate(0.5);
        sleep(800).then(() => {
                                
                             
            let guess_1 = field_guess_1.value.trim().toLowerCase();
            let guess_2 = field_guess_2.value.trim().toLowerCase();
            if(guess_1 !== null && guess_1 !== '' && guess_2 !== null && guess_2 !== '') {
                $.getJSON(
                    '/link/get_score',
                    $.param({ guess_1: guess_1, guess_2: guess_2}, true),
                    function(result){
                        let score = result.score; 
                        let link_1 = result.link_1;
                        let link_2 = result.link_2;
                        let link_3 = result.link_3;
                        if (score >0) {
                            // document.getElementById("score_message").innerHTML = `${score} points`;
                            bar.animate(parseFloat(score)/parseFloat(bestLinkScore));
                            sleep(1600).then(() => {
                                    win(score);
                                }) 
                        }
                        if (link_1 > 0) {
                            progress_link_1.animate(parseFloat(link_1)/maxLink)
                            document.getElementById("value-link-1").innerHTML = link_1;
                        } else if (link_1 == -1) {
                            document.getElementById("value-link-1").innerHTML = "🤔";
                            progress_link_1.animate(0.)
                        } else {
                            document.getElementById("value-link-1").innerHTML = "💩";
                            progress_link_1.animate(0.)
                        }
                        if (link_2 > 0) {
                            progress_link_2.animate(parseFloat(link_2)/maxLink)
                            document.getElementById("value-link-2").innerHTML = link_2;
                        } else {
                            if (link_1 > 0 && link_3 > 0) {
                                document.getElementById("value-link-2").innerHTML = "💩";
                            } else {
                                document.getElementById("value-link-2").innerHTML = "❌";
                            }
                            progress_link_2.animate(0.)
                        }
                        if (link_3 > 0) {
                            progress_link_3.animate(parseFloat(link_3)/maxLink)
                            document.getElementById("value-link-3").innerHTML = link_3;
                        } else if (link_3 == -1) {
                            document.getElementById("value-link-3").innerHTML = "🤔";
                            progress_link_3.animate(0.)
                        } else {
                            document.getElementById("value-link-3").innerHTML = "💩";
                            progress_link_3.animate(0.)
                        }
                        if (link_1 > -1 && link_2 >-1) {
                            addGuessToList(guess_1, guess_2, link_1, link_2, link_3, score);
                            saveDataToCache();
                        }
                        
                        // empty the input field
                        // field_guess_1.value = "";
                        // field_guess_2.value = "";
                        if (isMobileDevice()) {
                            scrollToField();
                        }
                        focus();
                    }
                );
                
            } 
        })
    });

    function addGuessToList(guess_1, guess_2, link_1, link_2, link_3, score) {
        isNew = true;
        guesses.forEach(function(entry) {
            let old_guess_1 = entry[0];
            let old_guess_2 = entry[1];
            if (old_guess_1 == guess_1 && old_guess_2 == guess_2) {
                isNew = False;  
            }
        });
        console.log(isNew)
        if (isNew) {
            guesses.push([guess_1, guess_2, link_1, link_2, link_3, score]);
        }          
    }

    var btn_share = document.getElementById('button-share')
        btn_share.addEventListener('click', function(){
            share();
        });

    function get_stored_score() {
        let data_day = JSON.parse(storage.getItem("flash_day_"+puzzleNumber));
        if (data_day == null){
            return null;
        }
        return data_day.score;
    }

    function saveDataToCache() {
        let data_day = JSON.parse(storage.getItem("day_"+puzzleNumber));
        if (data_day == null){
            data_day = {};
        }
        [nb_poop, nb_no_poop] = countPoops();
        nb_guesses = guesses.length;
        data_day['flash_score'] = total_points;
        data_day['flash_poop'] = nb_poop;
        data_day['flash_no_poop'] = nb_no_poop;
        data_day['flash_guesses'] = nb_guesses;
        storage.setItem("day_"+puzzleNumber, JSON.stringify(data_day));
    }

    function win(score)
    {
        unlockHistory();
        let message = "";
        // // check if you have already won
        // saveDataToCache();
        document.getElementById('popup-win-title').innerHTML = '<h4 class="modal-title d-inline-block">Lien établi !</h4>';
        message += `<h5>Félicitation, tu as fait une chaine de valeur ${score} points !</h5>`;
        if (score == bestLinkScore)
        {
            message += "Il s'agit du meilleur score, bravo !";
        } else {
            message += "C'est bien, mais tu peux faire encore mieux !"; 
            message += `Le meilleur score possible est de ${bestLinkScore} points.`;
            message += "Tu peux continuer à essayer d'augmenter ton score !";
        }
        document.getElementById("popup-win-msg").innerHTML = message;
        modal_win.show();
        // send data to server
        // $.getJSON(
        //     '/link/win',
        //     $.param({ score: total_points, guesses: guesses.length, user_id: get_user_id()}, true),
        //     function(result){});
        
        // document.getElementById("popup-win-msg").innerHTML = message;
        // if ({{winners_today}} > 3)
        // {
        //     document.getElementById("hist-winners-user").src = `/flash/get_stat_hist_${total_points}.png`
        // } else {
        //     document.getElementById("hist-winners-user").src = "{{ url_for('static', filename='images/empty_stats.png')}}"
        // }
        // already_won = true;
        // unlockFullList();
    }

    function unlockHistory() {
        var btn_list = document.getElementById('full-list');
        
        btn_list.classList.remove('invisible');         
        btn_list.addEventListener('click', function(){
            modal_word_list.show();
            document.getElementById("modal-list-title").innerHTML = '<h5 class="modal-title">Combinaisons gagnantes trouvées</h5>';
            var table_content = '';
            
            guesses.forEach(function([guess_1, guess_2, link_1, link_2, link_3, score]) {
                table_content+=
                `
                                <tr>
                                    <td class="text-white">${guess_1+' + '+guess_2}</td>
                                    <td class="text-white">${score}</td>
                                </tr>
                `
                
                }
            )
            document.getElementById("modal-list-table-content").innerHTML = table_content;

            $.getJSON(
                '/link/get_full_list',
                $.param({day: puzzleNumber}, true),
                function(result){
                result.word_list.forEach(function([word, score]) {
                    table_content+=
                    `
                                    <tr>
                                        <td class="text-white">${word}</td>
                                        <td class="text-white">${score}</td>
                                    </tr>
                    `
                    
                    }
                )
                document.getElementById("modal-list-table-content").innerHTML = table_content;
                }
            );
            
        });
    }

    /**
     * from https://andywalpole.me/blog/140739/using-javascript-create-guid-from-users-browser-information
     * @function _guid
     * @description Creates GUID for user based on several different browser variables
     * It will never be RFC4122 compliant but it is robust
     * @returns {Number}
     * @private
     */
    // I DO NOT STORE THIS, I HASH IT AND STORE THAT
    function get_user_id() {
        var nav = window.navigator;
        var screen = window.screen;
        var guid = nav.mimeTypes.length;
        guid += nav.userAgent.replace(/\D+/g, '');
        guid += nav.plugins.length;
        guid += screen.height || '';
        guid += screen.width || '';
        guid += screen.pixelDepth || '';

        return guid;
    };

    function get_text_winner(nb_winners) {
        if (nb_winners == 1)
        {
            return `${nb_winners}<sup>er·e</sup>`
        } else {
            return `${nb_winners}<sup>ème</sup>`
        }
    }
    focus();
    
    function isMobileDevice()
    {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            return true;
        } else {
            return false;
        }
    }   

    function focus()
    {
        document.getElementById("guess-1").focus();
    }

    function countPoops()
    {
        let nb_poop = 0;
        let nb_no_poop = 0;
        guesses.forEach(function (entry, index, arr) {
            let [word, number, score] = entry;
            if (score == 0)
            {
                nb_poop+=1;
            } else {
                nb_no_poop += 1;
            }
        });
        return [nb_poop, nb_no_poop];
    }

    function saveDataToCache() {
        let savedPuzzleNumber = storage.getItem("link_puzzleNumber");
        if (savedPuzzleNumber != puzzleNumber) {
            return;
        }
        storage.setItem("link_guesses", JSON.stringify(guesses));

        nb_guesses = guesses.length;
        
        data_day = {
            "puzzleNumber": puzzleNumber,
            "nb_guesses": nb_guesses,
            "score":total_points
        }
        storage.setItem("flash_day_"+puzzleNumber, JSON.stringify(data_day));
    }

    function getStatsFromStorage()
    {
        let nb_guesses_tot = 0;
        let nb_poop_tot = 0;
        let nb_no_poop_tot = 0;
        let nb_points = null;
        let first_game = null;
        let nb_games = 0;

        for (let day = 0; day < puzzleNumber+1; day++) { 
            entry = storage.getItem("flash_day_"+day);
            try {
                let data_day = JSON.parse(entry);
                if (entry != null) {
                    nb_games += 1;
                    nb_guesses_tot += parseInt(data_day.nb_guesses);
                    nb_poop_tot += parseInt(data_day.nb_poop);
                    nb_no_poop_tot += parseInt(data_day.nb_no_poop);
                    nb_points += parseInt(data_day.score);
                    // find the first day played
                    if (first_game == null || day < first_game) {
                        first_game = day;
                    }
                }
            } catch (e) {
            console.log('Error parsing day '+day+': '+e);
            }
        }
        let nb_mean_guesses = 0;
        let nb_mean_poop = 0;
        let nb_mean_no_poop = 0;
        let nb_mean_points = 0;
        
        if (nb_games > 0) {
            nb_mean_guesses = parseFloat(nb_guesses_tot)/nb_games;
            nb_mean_poop = parseFloat(nb_poop_tot)/nb_games;
            nb_mean_no_poop = parseFloat(nb_no_poop_tot)/nb_games;
            nb_mean_points = parseFloat(nb_points)/nb_games;
        }
        
        stats = {
            "first_game": first_game,
            "nb_mean_guesses": nb_mean_guesses,
            "nb_mean_poop": nb_mean_poop,
            "nb_mean_no_poop": nb_mean_no_poop,
            "nb_games": nb_games,
            "nb_mean_points": nb_mean_points,
        }
        return stats;
    }



    async function share() {
        data_day = JSON.parse(storage.getItem("flash_day_"+puzzleNumber));
        // let score = 0;
        // let nb_guesses = 0;
        // let nb_poop = 0;
        // let nb_no_poop = 0;
        // if (guesses.length == 0){
        //     if (data_day.flash_guesses) {
        //         nb_guesses = data_day.guesses;
        //         nb_poop = data_day.poop;
        //         nb_no_poop = data_day.no_poop;
        //         score = data_day.score;
        //     } else {
                
        //     }
        // } else {
        nb_guesses = guesses.length;
        [nb_poop, nb_no_poop] = countPoops();
        // remove the master word
        nb_no_poop -= 1;
        nb_guesses -= 1;
        score = total_points;
        // }
        
        function strong(text) {return(`<strong>${text}</strong>`)}
        let message = `J'ai fait un score de ${total_points} 🏆 à #semantus ⚡Flash⚡ (jour ${puzzleNumber}) !<br>`
        // let text_winner = '';
        // if (data_day.rank == 1)
        // {
        //     text_winner = '1er';
        // } else {
        //     text_winner = `${data_day.rank}ème`;
        // }
        // message += `Je suis le ${strong(text_winner)} a avoir trouvé le mot caché du en ${strong(nb_guesses)} tentatives`
        message += `${nb_guesses} mots trouvés `
        message += `(${nb_poop} 💩 et ${nb_no_poop} 👍🏽)<br>` ;
        message += `https://www.semantus.fr/flash`;

        try {
            await navigator.clipboard.writeText(message.replace(/<br>/g,'\n'));
            console.log(message.replace(/<br>/g,'\n'))
            message += "<br><br>Copié dans le presse-papiers";
        } catch (err) {
            message += `<br><br>Erreur en copiant dans le presse-papiers<br>${err}`;
        }
        document.getElementById('popup-header-msg').innerHTML = 'Partage ton exploit !';
        document.getElementById('popup-msg').innerHTML = message;

        modal_win.hide();
        modal_message.show();
    }



    

    

    function beta() {   
        message = 'Bienvenue à Semantus <i class="italic text-flash">Flash</i> !';
        message += "<br><br>Ce jeu est en cours de développement, il est donc possible qu'il y reste des bugs.";
        message += "<br>N'hésitez pas à nous contacter si vous avez des questions ou des suggestions :";
        message += ' <a  href="https://twitter.com/intent/tweet?screen_name=semantusFr&ref_src=twsrc%5Etfw">@SemantuFr</a>';
        document.getElementById('popup-header-msg').innerHTML = "Jeu en version bêta !";
        document.getElementById('popup-msg').innerHTML = message;
        document.getElementById('btn-close-msg').focus();
        modal_message.show();
    }
    // beta();
    </script>

    
{% endblock %}